*{
    margin:0;
    padding:0;
    text-align:center;
}
h1{
    background-color: #081b31;
    color:#fff;
    height:5rem;
    line-height: 5rem;

}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:2rem;
}
.choice{
    height:165px;
    width:165px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
    cursor:pointer;
    background-color: #081b31;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    margin-top:3rem;
    gap:5rem;
}
#user-score,#comp-score{
    font-size:4rem;
}
#user-score{
    color:green;
}
#comp-score{
    color:red;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    background-color: #081b31;
    color:#fff;
    font-size: 2rem;
    display:inline;
    padding:1rem;
    border-radius:1rem;
}
.reset-btn{
    margin-top:2rem;
    display:flex;
    align-items:center;
    justify-content: center;
}
#reset{
    width:2rem;
    height:2rem;
    background-color: rgb(256,0,0);
    color:#fff;
    padding:1rem;
    font-size: 1.4rem;
    border-radius:50%;
    cursor:pointer;
    border:groove;
    display:flex;
    align-items:center;
    justify-content: center;
}
#reset:hover{
    background-color: rgba(256,0,0,0.5);
}
@media(max-width:600px){
    .choices{
        margin-top: 2.5rem;
        gap:3rem;
    }
    .choice{
        height:120px;
        width:120px;
    }
    img{
        height:110px;
        width:110px;
    }
}
@media(max-width:550px){
    h1{
        height:5rem;
        line-height:5rem;
    }
    .choices{
        margin-top: 2.5rem;
        gap:3rem;
    }
    .choice{
        height:110px;
        width:110px;
    }
    img{
        height:100px;
        width:100px;
    }
    .score-board{
        font-size:2rem;
        margin-top:3rem;
        gap:3rem;
    }
    #user-score,#comp-score{
        font-size:4rem;
    }
    #msg{
        font-size:1.5rem;
    }
}
@media(max-width:450px){
    h1{
        height:4rem;
        line-height:4rem;
    }
    .choices{
        margin-top: 2rem;
        gap:1rem;
    }
    .choice{
        height:100px;
        width:100px;
    }
    img{
        height:90px;
        width:90px;
    }
    .score-board{
        font-size:1rem;
        margin-top:2rem;
        gap:3rem;
    }
    #user-score,#comp-score{
        font-size:3.5rem;
    }
    #msg{
        font-size:1.1rem;
    }
}
